[Desktop Entry]
Name=scummvm
Comment=SCUMM graphic adventure game interpreter
Comment[pl]=Interpreter przygodówek opartych na SCUMM
Icon=scummvm
Exec=scummvm
Terminal=false
Type=Application
Categories=Game;AdventureGame;
# vi: encoding=utf-8
