[Desktop Entry]
Name=scummvm
Comment=SCUMM graphic adventure game interpreter
Comment[pl]=Interpreter przygodówek opartych na SCUMM
Icon=scummvm.png
Exec=scummvm
Terminal=false
Type=Application
