[Desktop Entry]
Encoding=UTF-8
Name=scummvm
Comment=SCUMM graphic adventure game interpreter
Comment[pl]=Interpreter przygodówek opartych na SCUMM
Icon=scummvm.png
Exec=scummvm
Terminal=false
Type=Application
Categories=Application;System;Emulator;
# vi: encoding=utf-8
